@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Open Sans", Andale Mono, monospace;
}

.header {
  min-height: 100vh;
  background-color: #000000;
  background-image: url("../images/football_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.header-container {
  position: relative;
  z-index: 1;
}

.main-logo-header {
  text-align: center;
  padding-top: calc(65 * 100vh / 960);
}

.main-logo-text {
  width: 191px;
  height: 52px;
}

.header-title {
  padding-top: calc(295 * 100vh / 960);
  padding-bottom: calc(222 * 100vh / 960);
  padding-left: calc(193 * 100vw / 1920);
  padding-right: calc(193 * 100vw / 1920);
  margin: 0 auto;

  text-transform: uppercase;
  color: #ffffff;

  font-size: calc(3.25vw + 17.6px);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.download-app {
  display: flex;
  justify-content: center;
  padding-bottom: calc(110 * 100vh / 960);
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.download-description {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  width: 310px;
  height: 77px;
  background-color: #5e42b0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.download-description:nth-child(2) {
  margin-left: calc(50 * 100vw / 1920);
}

.app-store-svg {
  width: 42px;
  height: 48px;
  margin-right: 25px;
}

.app-googleplay-svg {
  width: 40px;
  height: 50px;
  margin-right: 30px;
}

.section-part {
  margin: 0 auto;
}

.section-title {
  font-size: 80px;
  font-weight: 700;
  line-height: 60px;
  color: #e7e7e7;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 50px;
}

.article {
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
}

@media (min-width: 961px) {
  .section-title {
    margin-top: 115px;
  }

  .section-container {
    position: relative;
  }

  .athlets .section-picture {
    content: "";
    position: absolute;
    z-index: 2;
    top: -88px;
    left: calc(50vw - 566px);
  }

  .header-title-two {
    text-align: right;
    display: block;
  }

  /* .athlets .section-title {
    padding-left: 1000px;
  } */

  .athlets .article,
  .athlets .section-title {
    padding-left: 52.08vw;
    padding-right: calc(210 * 100vw / 1920);
  }

  /* .players .section-title {
    padding-left: 190px;
  } */

  .players .article,
  .players .section-title {
    padding-left: calc(190 * 100vw / 1920);
    padding-right: calc(985 * 100vw / 1920);
  }

  .players .section-picture {
    content: "";
    position: absolute;
    top: -94px;
    right: 0;
    bottom: 0;
    left: calc(804 * 100vw / 1920);
    z-index: 2;
    overflow: hidden;
  }
}

.athlets .articles .article:nth-child(3n + 2)::after {
  content: "";
  position: absolute;
  background-color: #5e42b0;
  opacity: 0.05;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.athlets .articles .article:nth-child(3n + 3)::after {
  content: "";
  position: absolute;
  background-color: #5e42b0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.article-container {
  position: relative;
  z-index: 3;
}

.article-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.article-number {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  padding-right: 12px;
}

.article-number::after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background-color: #5e42b0;
  border-radius: 50px;
}

.athlets .articles .article:nth-child(3n + 3) .article-number::after,
.players .articles .article:nth-child(3n + 3) .article-number::after {
  background-color: #ffffff;
}

.article-title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #c1c1c1;
}

.article-content {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
}

.athlets .articles .article:nth-child(3n + 3) .article-content,
.players .articles .article:nth-child(3n + 3) .article-content {
  color: #ffffff;
}

p {
  margin: 0;
}

.players .articles .article:nth-child(2n + 2)::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.03;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.players .articles .article:nth-child(2n + 3)::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.players .articles .article:nth-child(2n + 3) .article-number {
  color: #9173e6;
}

/* ***************************************************************************** */
.section-pictures {
  position: relative;
  background-color: #c1c1c1;
}

@media (min-width: 961px) {
  .section {
    display: flex;
  }

  .find-contact .section-pictures {
    order: 3;
  }

  .section-pictures {
    width: 50%;
  }

  .find-contact .section-number {
    left: calc(0% - (168 * 100vw / 1920 / 2));
  }

  .find-contact .section-text {
    padding-left: calc(192 * 100vw / 1920);
  }
}

.picture-img {
  max-width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.section-number {
  font-size: 24px;
  line-height: 0.8;
  font-weight: 700;
  color: #f5f6f7;
  background-color: #5e42b0;

  width: calc(168 * 100vw / 1920);
  height: calc(155 * 100vw / 1920);
  display: block;
  position: absolute;
  top: calc(50% - (155 * 100vw / 1920));
  left: calc(100% - (168 * 100vw / 1920 / 2));
}

.section-number-line {
  position: absolute;
  top: calc(155 * 100vw / 1920 / 2 - 13.7px);
  left: calc(168 * 100vw / 1920 / 2 - 16.6px);
}

.section-number-line::after {
  content: "";
  display: block;
  text-align: center;
  width: 26px;
  height: 5px;
  opacity: 0.3;
  background-color: #ffffff;
  border-radius: 2px;
  margin-top: 9px;
}

@media (min-width: 961px) {
  .section-text-description {
    width: calc(640 * 100vw / 1920);
  }

  .section-text {
    display: flex;
    padding-left: calc(125 * 100vw / 1920);
    width: 50%;
    box-sizing: border-box;
    align-items: center;
  }
}

.section-name {
  opacity: 0.4;
  font-size: calc(80 * 100vw / 1920);
  line-height: 0.8;
  font-weight: 700;
  text-transform: uppercase;
  color: #c1c1c1;
  margin-top: 0;
  margin-bottom: calc(110 * 100vw / 1920);
}

.section-content {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 0;
}

/* _____footer___________________________________________________________________________________*/

.footer {
  background-color: #6d6b6b;
  background-image: url("../images/game_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.footer::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.footer-container {
  position: relative;
  z-index: 1;
}

.footer-download-bottom {
  margin: 0 auto;
  display: flex;
}

.footer-logo {
  position: relative;
  background-color: #5e42b0;
  border-radius: 25px;
  width: 105px;
  height: 85px;
  padding: 25px 13px;
}

@media (min-width: 961px) {
  .footer-download-bottom {
    padding-top: 23.95vh;
    padding-bottom: 15.62vh;
    width: 870px;
  }

  .footer-logo-text {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer .download-app {
    padding-bottom: 27.08vh;
  }
}

.footer-logo-text-one {
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-logo-text-two {
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  text-transform: uppercase;
  color: #a496ca;
}

.main-logo-footer {
  text-align: center;
  padding-bottom: 5.2vh;
}

/*___================================================================____*/

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .main-logo-header {
    padding-top: 40px;
  }

  .main-logo-text {
    width: 205px;
    height: 56px;
  }

  .header-title {
    padding-top: 18.77vh;
    padding-bottom: 31.8vh;
    padding-left: 9.4vh;
    padding-right: 8.86vh;
    width: 62.04vw;
  }

  .header-title-two {
    padding-left: 100px;
    display: block;
  }

  .footer .download-app {
    padding-bottom: 5.73vh;
  }

  .download-description {
    box-shadow: 8px 14px 24px 0px #0a0e34;
  }

  .download-description:nth-child(2) {
    margin-left: calc(50 * 100vw / 768);
  }

  .app-store-svg {
    width: 36px;
    height: 42px;
    margin-right: 28px;
  }

  .app-googleplay-svg {
    width: 41px;
    height: 45px;
    margin-right: 28px;
  }

  .section-container {
    padding-top: 85px;
    position: relative;
    overflow: hidden;
  }

  .athlets .section-picture {
    content: "";
    position: absolute;
    z-index: 2;
    top: 94px;
    left: -162px;
  }

  .section-title {
    margin-bottom: 0;
  }

  .athlets .section-title,
  .athlets .article {
    padding-left: 292px;
    padding-right: 33px;
  }

  .article-title {
    font-size: 32px;
  }

  .article-content {
    font-size: 16px;
  }

  .players .section-title,
  .players .article {
    padding-left: 32px;
    padding-right: 310px;
  }

  .players .section-picture {
    content: "";
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 2;
  }

  .section-number {
    width: 116px;
    height: 116px;
    top: calc(100% - 88px);
    left: calc(0% + 33px);
    bottom: 0;
    right: 0;
  }

  .section-number-line {
    top: 42px;
    left: 44px;
  }

  .section-text {
    display: block;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 100px;
    margin-top: 80px;
  }

  .be-active .section-text {
    margin-top: 90px;
  }

  .footer {
    background-color: #6d6b6b;
    background-image: url("../images/game_1280.jpg");
  }

  .footer-download-bottom {
    padding: 13.03vh 3.65vh 29.72vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-logo-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: calc(80 * 100vw / 768);
  }

  .footer-logo-text-one {
    margin-bottom: 27px;
  }

  .footer-logo-text-two {
    font-size: 36px;
  }
}

@media (max-width: 960px) {
  .athlets .articles .article:nth-child(3n + 2)::after,
  .players .articles .article:nth-child(3n + 2)::after {
    background-color: #f5f4f9;
    opacity: 1;
  }

  .players .articles .article:nth-child(3n + 3)::after {
    background-color: #090c35;
  }
}
/* ======================================================= */
@media (max-width: 640px) {
  .header {
    background-image: url("../images/football_767.jpg");
  }

  .main-logo-header {
    padding-top: 5.8vh;
    padding-bottom: 0;
  }

  .main-logo-text {
    width: 133px;
    height: 36px;
  }

  .header-title {
    padding-top: 23.77vh;
    padding-bottom: 15.84vh;    
    padding-left: calc(20 * 100vw / 320);
    padding-right: calc(20 * 100vw / 320);
  }

  .header-title-two {
    display: block;
    padding-left: 12.22vw;
  }

  .download-app {
    flex-wrap: wrap;
    width: 280px;
    margin: 0 auto;
    padding-bottom: calc(110 * 100vh / 568);
  }

  .download-description {
    height: 35px;
    font-size: 8px;
    padding-left: 82px;
    box-sizing: border-box;
    justify-content: start;
  }

  .download-description:nth-child(2) {
    margin-top: 14px;
    margin-left: 0;
  }

  .app-store-svg {
    width: 20px;
    height: 24px;
    margin-right: 10px;
  }

  .app-googleplay-svg {
    width: 22px;
    height: 24px;
    margin-right: 7px;
  }

  .section-container {
    margin-top: 0;
  }

  .section-title {
    font-size: 50px;
    line-height: 0.8;
    padding-top: calc(25 * 100vh / 568);
    padding-bottom: calc(20 * 100vh / 568);
    padding-left: calc(20 * 100vw / 320);
    margin-bottom: 0;
  }

  .athlets .section-picture {
    display: block;
    width: 191px;
    height: 281px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .article {
    padding-bottom: 55px;
  }

  .article-number {
    font-size: 14px;
  }

  .article-number::after {
    content: "";
    display: block;
    width: 16px;
    height: 4px;
  }

  .article-title {
    font-size: 23px;
    line-height: 0.8;
  }

  .article-content {
    font-size: 15px;
    line-height: 18px;
  }

  .article:first-child {
    padding-top: 83px;
    margin-top: -55px;
  }

  .article,
  .section-text {
    padding-left: calc(20 * 100vw / 320);
    padding-right: calc(20 * 100vw / 320);
  }

  .athlets .articles .article:nth-child(3n + 1)::after,
  .players .articles .article:nth-child(3n + 1)::after {
    content: "";
    position: absolute;
    background-color: #fafafa;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .section-number {
    font-size: 14px;
    top: calc(100% - 58px);
    left: calc(0% + 20px);
    width: 70px;
    height: 70px;
  }

  .section-number-line {
    top: 27px;
    left: 27px;
  }

  .section-number-line::after {
    width: 15px;
    height: 4px;
    margin-top: 5px;
  }

  .players .section-picture {
    display: block;
    width: 302px;
    height: 248px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .players .article:first-child {
    margin-top: -25px;
  }

  .section-text {
    margin-top: 36px;
    padding-bottom: 78px;
  }

  .section-text:last-child {
    padding-bottom: 67px;
  }

  .section-name {
    font-size: 28px;
    opacity: 1;
    margin-bottom: 23px;
  }

  .section-content {
    font-size: 16px;
    line-height: 20px;
  }

  .footer-download-bottom {
    padding: 17.42vh 3.52vh 13.38vh;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .footer-logo-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-logo {
    width: 60px;
    height: 50px;
    padding: 12px 6px;
    margin-bottom: 59px;
    border-radius: 15px;
  }

  .footer-logo-text-one {
    font-size: 32px;
    margin-bottom: 13px;
    line-height: 0.8;
  }

  .footer-logo-text-two {
    font-size: 14px;
    line-height: 0.8;
  }

  .footer .download-app {
    padding-bottom: 14.44vh;
  }

  .footer .main-logo-footer {
    padding-bottom: 1.76vh;
  }

  .footer {
    background-image: url("../images/game_767.jpg");
  }
}
