@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }

  body {
    margin: 0;
    font-family: "Open Sans", Andale Mono, monospace;
  }

.header {
    background-color: #000000;
    background-image: url("../images/football_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    background-color: #0a0e34;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
}

.header-container {
    position: relative;
    z-index: 1;
}

.main-logo-header {
    text-align: center;
    padding: 65px 0;
}

.main-logo-text {
    width: 191px;
    height: 52px;
}

.header-title {
    box-sizing: border-box;
    padding-top: 230px;
    padding-bottom: 220px;    
    padding-left: 15px;
    padding-right: 15px;
    width: 1560px;
    margin: 0 auto;    

    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.05em;
    font-size: 90px;
    font-weight: 700;
    line-height: 100px;
}

.header-title-two {
    text-align: right;
    display: block;
}

.download-app {
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
    
}

.download-app-store a {
display: block;
}

.download-app-store, .download-app-googleplay {
    width: 310px;
    height: 77px;
    background-color: #5e42b0;
    border-radius: 50px;
    display: flex; 
    align-items: center; 
}

.app-store-svg {
    width: 42px;
    height: 48px;
    margin-right: 25px;
    margin-left: 38px;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.app-googleplay-svg {
    width: 40px;
    height: 50px;
    margin-right: 30px;
    margin-left: 57px;
}


.download-description {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
   
}

.download-description-one {
    font-weight: 400;
    display: block;
}

.download-description-two {
    font-weight: 700;
    display: block;
}

.download-app-googleplay {
    margin-left: 50px;
}

/* ________________________________________________________________________________________*/

.section-part {
    width: 1920px;
    margin: 0 auto;
}

.section-container {
    margin-top: 115px;
    position: relative;
}

.athlets .section-picture {
    content: "";
    position: absolute;
    top: -88px;
    right: 0;
    bottom: 0;
    left: 390px;
    z-index: 2;
}

.section-title {
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 50px;
}

.athlets .section-title {
    padding-left: 1000px;
}

.article {
    padding-top: 60px;
    padding-bottom: 50px;    
    position: relative;
}

.athlets .article {
    padding-left: 1000px;
}

.athlets .article:nth-child(4)::after { 
    content: "";
    position: absolute;
    background-color: #5e42b0;
    opacity: 0.05;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.athlets .article:nth-child(5)::after {
    content: "";
    position: absolute;
    background-color: #5e42b0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}

.article-container {
    position: relative;
    z-index: 3;
}

.article-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.article-number {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    padding-right: 12px;
}

.article-number::after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background-color: #5e42b0;
    border-radius: 50px;
}

/*  не работает */
.article-number:nth-child(3)::after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50px;
}

.article-title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #c1c1c1;    
}

.article-content {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #000000;
}

/*  не работает */
.article-content:nth-child(2n+3) {
    color: #ffffff;
}

p {
    margin: 0;
}

.players .section-title {
    padding-left: 190px;
}

.players .article {
    padding-left: 190px;
    padding-right: 985px;
}

.players .section-picture {
    content: "";
    position: absolute;
    top: -94px;
    right: 0;
    bottom: 0;
    left: 804px;
    z-index: 2;
}

.players .article:nth-child(3)::after {
    content: "";
    position: absolute;
    background-color: #0a0e34;
    opacity: 0.03;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.players .article:nth-child(4)::after {
    content: "";
    position: absolute;
    background-color: #0a0e34;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* ***************************************************************************** */
.section {
    display: flex;
    position: relative;
}

.section-number-line {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #f5f6f7;
    background-color: #5e42b0;
    width: 168px;
    height: 155px;
    display: block;
       
    position: absolute;
    top: 211px;
    left: 876px;
    right: 0;
    bottom: 0; 
}

.section-number-line::after {
    content: "";
    display: block;
    text-align: center;
    width: 26px;
    height: 5px;
    opacity: 0.3;
    background-color: #ffffff;
    border-radius: 2.0px;
}
 
 .section-text {    
    display: flex;
    padding-left: 125px;
    width: 50%;
    margin-top: 260px;
}

.section-text-description {
    width: 640px;
}

.section-name {
    opacity: 0.4;
    font-size: 80px;
    line-height: 90px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c1c1c1;
    margin-top: 0;
    margin-bottom: 110px;

}

.section-content {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 0;
}



/* _____footer___________________________________________________________________________________*/

.footer {
    background-color: #6d6b6b;
    background-image: url("../images/game_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer::after {
    content: "";
    position: absolute;
    background-color: #0a0e34;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
}

.footer-container {
    position: relative;
    z-index: 1;
}

.footer-download-bottom {
    padding-top: 230px;
    padding-bottom: 150px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 866px;
}

.footer-logo {
    width: 100px;
    height: 85px; 
    padding: 20px 13px;
    position: relative;
    background-color: #5e42b0;  
    border-radius: 25px; 
}

.footer-logo-text {
    margin-left: 37px;
    width: 699px;
}

.footer-logo-text-one {
    font-size: 80px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-logo-text-two {
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
    text-transform: uppercase;
    color: #a496ca;
}

.footer .download-app {
    padding-bottom: 260px;;
}






.main-logo-footer {
    text-align: center;
    padding-bottom: 50px;
}